<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Daily Blogs</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="icon" href="/images/cropped-favicon.png">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">DAILY BLOGS</p>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <!-- 6 -->
          <li id="home"><a href="/home">HOME</a></li>
          <li id="blog"><a href="/blog">BLOG</a></li>
          <li id="about"><a href="/about">ABOUT US</a></li>
          <li id="contact"><a href="/contact">CONTACT US</a></li>
          <li id="compose"><a href="/compose">COMPOSE</a></li>
          <li id="logout"><a href="/logout">LOGOUT</a></li>
          
        </ul>
    </div>
  </nav>
  <body style="background-color: #E4E9FD; background-image: -webkit-linear-gradient(65deg,rgb(250, 251, 255) 50%, rgb(253, 250, 250) 50% );">
    <div class="container">

<div class="homes">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-8">
        <h2 style="font-size: 50px; font-weight: 1000;">Blog On Your Own</h2><br>
        <h4><%= homeStartingContent %></h4><br><br>
        <p><%= homeStartingContent %></p>
      </div>
      <div class="col-sm-4">
        <img src="/images/gtrgrtgfgfgs.jpg" alt="Smiley face" height="250" width="350">
      </div>
    </div>
  </div>
  
  <div class="container-fluid bg-grey">
    <div class="row">
      <div class="col-sm-4">
        <img src="/images/jkl.jpg" alt="Smiley face" height="250" width="350">
      </div>
      <div class="col-sm-8">
        <h2 style="font-size: 50px; font-weight: 1000;">Blogging for Beginners</h2><br>
        <h4><strong>MISSION:</strong><%= homeStartingContent %></h4><br><br>
        <p><strong>VISION:</strong><%= homeStartingContent %></p>
      </div>
    </div>
  </div>
  
    
    
</div>

 
<%- include('footer'); -%>